*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
@media screen and (max-width: 900px) {
    .wrapper {
      .carousel {
        $columnWidth: calc((100% / 3) - 9px);
        grid-auto-columns: $columnWidth;
      }
    }
  }
  @media screen and (max-width: 600px) {
    .wrapper {
      .carousel {
        grid-auto-columns: 100%;
      }
    }
  }

.bdy{
    display:flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(to left top, #031A9A, #BB53FF);
    padding: 0 35px;
.wrapper{
    max-width: 1100px;
    width: 100%;
    position: relative;
    i {
        height: 50px;
        width: 50px;
        background-color: #fff;
        text-align: center;
        line-height: 50px;
        border-radius: 50%;
        cursor: pointer;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        box-shadow: 0 3px 6px rgba(0,0,0,0.23);
        font-size: 1.25rem;
        &:first-child{
            left:-22px;    
        }
        &:last-child{
            right:-22px;  
        }
    }
    .carousel{
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: calc((100% / 3) - 12px);
        gap:16px;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
        scrollbar-width: 0;
        &::-webkit-scrollbar {
            display:none;
        }
       
        &:where(.card, .img) {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .card{
            scroll-snap-align: start;
            list-style: none;
            background-color: #fff;
            border-radius: 8px;
            height: 342px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding-bottom: 15px;
            cursor: pointer;
            .img{
                background-color: #BB53FF;
                width: 148px;
                height:148px;
                border-radius: 50%;            
                    img{
                    width:140px;
                    height:140px;
                    object-fit: cover;
                    border-radius: 50%;
                    border:4px solid #fff;
                }
            }
        }
    }
}
}
.no-transition {
    scroll-behavior: auto;
}
